/* 父容器設置 */
.custom-header {
  display: flex; /* 使用 Flexbox */
  flex-direction: row; /* 確保子元素水平排列 */
  justify-content: space-between; /* 左中右分佈 */
  align-items: center; /* 垂直居中 */
  padding: 0 0.5rem 0 2rem; /* 左右內邊距 */
  height: 6vh; /* 固定高度 */
  background-color: #fff; /* 背景顏色 */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* 添加陰影 */
}

.custom-header-left {
  flex: 1; /* 左側區域占據 1 倍空間 */
  gap: 1rem;
}

.custom-header-center {
  flex: 1; /* 中間區域占據 1 倍空間 */
  display: flex;
  align-items: center; /* 垂直居中 */
  justify-content: center; /* 水平居中 */
}

.custom-header-right {
  flex: 1; /* 右側區域占據 1 倍空間 */
  display: flex;
  justify-content: flex-end; /* 靠右對齊 */
  align-items: center; /* 垂直居中 */
}

.custom-header-left,
.custom-header-center,
.custom-header-right {
  display: flex;
  align-items: center; /* 垂直居中 */
}

.custom-header-search {
  border-radius: 0.75rem;
}
